* {
    box-sizing: border-box;
}

header {
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    padding: 0 40px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

header .logo {
    font-weight: 700;
    color: rgb(92, 65, 247);
    font-size: 2rem;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li a {
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 20px;
}

.menu-btn {
    background: rgb(92, 65, 247);
    padding: 15px 15px;
    border-radius: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* height: 40px; */
}

.hero-container {
    margin: -50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-transform: capitalize;
    text-align: left;
}

.heading-section h1 {
    font-size: 5rem;
    color: rgb(92, 65, 247);
}

.heading-section p {
    margin-top: 40px;
    font-size: 1.2rem;
    color: grey;
}

.heading-section button {
    margin-top: 40px;
    padding: 15px 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(92, 65, 247);
    color: white;
    text-transform: capitalize;
}

.heading-section button:hover {
    background: blue;
}

.footer {
    justify-content: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
}


/* media query */

@media only screen and (max-width:600px) {
    .main-nav {
        font-size: .5em;
        padding: 0;
    }
}