* {
    box-sizing: border-box;
}


/* .zone {
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
} */


/* .zone:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 20px;
    align-items: right;
    justify-content: right;
    font-size: 1.2rem;
}

.main-nav li {
    padding: 20px;
}

.main-nav li a {
    text-decoration: none;
    color: grey;
}

.main-nav #nav-button {
    /* margin-top: 20px; */
    padding: 1px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    background-color: rgb(92, 65, 247);
    color: white;
    text-transform: capitalize;
}

.main-nav li a:hover {
    color: rgb(92, 65, 247);
}


/* .main-nav .push {
    margin-left: auto;
} */

.header {}

.hero-container {
    margin: -50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-transform: capitalize;
    text-align: left;
}

.heading-section h1 {
    font-size: 5rem;
    color: rgb(92, 65, 247);
}

.heading-section p {
    margin-top: 40px;
    font-size: 1.2rem;
    color: grey;
}

.heading-section button {
    margin-top: 40px;
    padding: 15px 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(92, 65, 247);
    color: white;
    text-transform: capitalize;
}

.heading-section button:hover {
    background: blue;
}

.footer {
    justify-content: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
}


/* media query */

@media only screen and (max-width:600px) {
    .main-nav {
        font-size: .5em;
        padding: 0;
    }
}